.color1,.color1.page-footer{
  background-color: #263238 ;
}

.color2{
  background-color: #b0bec5;
}

.offers-back,.color3{
  background-color:#fffde7;
 }

.container-fluid .row li{
  color:#1976d2;
  float:left;
}

.row {
  margin-bottom: 0;
}

footer.page-footer {
  margin-top: 0;
  padding-top: 0;
}

.material-icons,.datepicker,.row li[selected]{
  color:white;
}

.material-icons#search-icon{
  margin-left: 50px;
}

.parallax-container{
min-height: 600px;
}
.parallax.search-back{
  background-image: URL("https://static.pexels.com/photos/5055/sea-sky-beach-holiday.jpeg");
}

.parallax{
   background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
}


.offer-img.big{
  height:295px;
  width: 450px;
  margin: 15px 10px 0px 5px;
}

ul.photo-list{
  margin-top: 0;
}


.col.s8 .offer-img.big{
  margin-left: 0;
}


.offer-img.small{
  height:140px;
  width: 200px;
  margin: 15px 10px 0px 5px;
}


 .col#search{
  margin-top: 75px;
}

.clickable:hover{
  transition: .3s;
  cursor:pointer;
}

.row.input  .material-icons.clickable{
  margin-top:25px;
}


.row.input .clickable:not([selected]):hover{
   color: #64b5f6 ;
}

  /* label color */
   .input .input-field label {
     color: white;
   }


 .input .input-field input[type=text] {
     color: white;
   }

   /* label focus color */
   .input .input-field input[type=text]:focus + label {
     color: white;
   }
   /* label underline focus color */
   .input .input-field input[type=text]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
/* icon prefix focus color */
   .input-field .prefix.active {
     color: white;
   }


.collection a.collection-item{
  display:inline;
}

.btn#passengers{
  background-color:transparent;
  width:190px;
  margin-top:10px;
}

.btn#passengers:hover{
  background-color:transparent;
}

