.color1,.color1.page-footer,.search-panel.color1 {
  background-color: #263238;
}

nav .nav-wrapper > div > div {
  width: 50%;
}

div.filter-element > form > * {
  margin-left: 3em;
}

div.filter-element > div.row > div.filter-tool {
  width: 85%;
  margin: 3em auto .3em auto;
}

#result-description {
  font-size: 1.2em;
}

#results > div.preloader {
  font-size: 2em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

div.search-panel div.row.title{
  padding-top: .5em;
}

div.search-panel div.row.title h5{
  padding-top: .5em;
  margin: 0;
  padding: 0;
}

.color3 {
  background-color: #455a64;
}

.btn {
  padding: 0 1em 0 1em;
}

.btn:hover {
  background-color: #455a64;
}

.btn.dropdown-button {
  background-color: #eceff1 ;
  color: black;
}

.btn.dropdown-button:hover {
  background-color: #ffffff;
}

.color2 {
  background-color: #efebe9;
}

.central-space {
  min-height: 100em;
}


.row {
  margin-bottom: 0;
}

.col.s3{
  padding-right: 0;
  padding-left: 0;
}

.col.s9{
  padding-right: 0;
  padding-left: 0;
}

.row.tools div.tool-element{
  margin: .5em 1em;
  float: right;
}

.row.tools div.tool-element label{
  color: black;
}

.select-wrapper input.select-dropdown {
  margin: 0 0;
}

ul.dropdown-content li p{
  text-align: left;
  margin-left: 10px;
}

ul.dropdown-content li:hover{
  background-color: #80cbc4 ;
  transition: .3s;
}

footer.page-footer {
  margin-top: 0;
  padding-top: 0;
}

.filter-element {
  width: 80%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.tabs {
  background-color: transparent;
}

.tabs .tab a{
  color: #eceff1;
}

.tabs .tab a:hover{
  color: #eceff1;
}

.tabs .indicator {
  background-color: transparent;
  background-color: #eceff1;
}

.search-panel{
  border-radius: .25em;
  padding: 0 0 0 0;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  color: #eceff1;
}

.search-panel div input{
  margin: 1em auto 0 auto;
  padding: .3em 0 .3em 0;
}

.search-panel div.last{
  margin-bottom: 1em;
}

.search-panel div > span.twitter-typeahead {
  width: 100%;
}

.search-panel .row{
  width: 90%;
  margin: 0 auto;
}

.search-panel .tabs{
  border-radius: .25em;
}

div a.btn{
  float: right;
  margin: 1em auto 1em auto;
}

.search-panel div label{
  display: block;
  margin: 1em auto 1em auto;
  padding: .3em auto .3em auto;
}

.search-panel div label.active{
  margin-top: 1em;
}

.search-panel .input-field label.active {
  margin-top: 2em;
}

.row.modes .clickable:hover{
  color: #4db6ac;
  transition: .2s;
  cursor:pointer;
}

.filter-tool {
  margin: 1.5em auto;
}

.important-star {
  color: black;
}

.search-panel.stars .important-star {
  color: #eceff1;
}

.stars .unimportant-star {
  color: black;
}

.individual-result .important-star {
  color: black;
}

.individual-result .unimportant-star {
  color: #d4d4d4;
}

.stars i {
  margin-right: .1em;
}

.airlines form label{
  color: white;
}

.date-field {
  position: relative;
}


div.results-container {
  height: 100%;
}

div.results-box {
  margin: 3.5em auto;
}

div.results-container div.individual-result {
  width: 80%;
  margin: 0 auto 3.5em auto;
}

div.individual-result div.collapsible-header {
  height: 4em;
}

div.individual-result div.collapsible-body {
  height: 6em;
}

div.collapsible-header{
  padding: 0;
}

ul.collapsible-header-row {
  width: 100%;
  height: 100%;
}

ul.collapsible-body-row {
  width: 100%;
  height: 100%;
}

li.col.s4{
  padding: 0;
  height: 100%;
}

li.row-f1.col.s4 > div {
  margin-right: auto;
  margin-left: 1em;
}

li.row-f2.col.s4 > div {
  margin: 0 auto;
}

li.row-f3.col.s4 > div {
  margin-left: auto;
  margin-right: 1em;
}

.collapsible-header i.arrow-right {
  font-size: 4em;
  margin-right: 2rem;
}

.collapsible-header-row li.row-f1 div > * {
  display: inline;
}

.collapsible-header-row li > div > .left-s {
  margin-right: .5em;
}

.collapsible-header-row li > div > .right-s {
  margin-left: .5em;
}

div.noUi-tooltip {
  font-size: 75%;
}

#date1 > input,#date2 > input {
  margin-bottom: 0;
}

/*ESTILOS DEL AUTOCOMPLETE*/
/*estilo css para typeahead*/

.typeahead {
    display: block;
}

.typeahead,
.tt-query,
.tt-hint {
    /*width: 396px;*/
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}



.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    overflow-y: auto;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    color: #26a69a;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    line-height: 24px;
    transition:background-color .3s;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #26a69a;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #26a69a;
}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

.miniText {
    font-size: 3px;
}

/*fin de typeahead*/
