.color1,.color1.page-footer {
  background-color: #263238;
}


.color2{
  background-color: #e8eaf6    ;
}

.central-space {
  height: 100em;
}


.row {
  margin-bottom: 0;
}

.col.s3{
  padding-right: 0;
  padding-left: 0;
}

.col.s9{
  padding-right: 0;
  padding-left: 0;
}

.row.tools div.tool-element{
  margin: .5em 1em;
  float: right;
}

.row.tools div.tool-element label{
  color: black;
}

.select-wrapper input.select-dropdown {
  margin: 0 0;
}

.dropdown-button.btn {
  margin-right: 10px;
}

ul.dropdown-content li p{
  text-align: left;
  margin-left: 10px;
}

ul.dropdown-content li:hover{
  background-color: #80cbc4 ;
  transition: .3s;
}

footer.page-footer {
  margin-top: 0;
  padding-top: 0;
}

.filter-element {
  width: 80%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.tabs .tab a{
  color: rgb(38, 166, 154);
}

.tabs .tab a:hover{
  color: inherit;
}

.tabs .indicator {
  background-color: rgb(38, 166, 154);
}

.search-panel{
  background-color: white;
  border-radius: .25em;
  padding: 0 0 0 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.search-panel div input{
  margin: 1em auto 1em auto;
  padding: .3em 0 .3em 0;
}

.search-panel .row{
  width: 90%;
  margin: 0 auto;
}

.search-panel .tabs{
  border-radius: .25em;
}

div a.search{
  float: right;
  margin: 1em auto 1em auto;
}

.search-panel div label{
  display: block;
  margin: 1em auto 1em auto;
  padding: .3em auto .3em auto;
}

.search-panel div label.active{
  margin-top: 1em;
}

.search-panel .input-field label.active {
  margin-top: 2em;
}

.row.modes .clickable:hover{
  color: #4db6ac;
  transition: .2s;
  cursor:pointer;
}

.filter-tool {
  margin-top: 3em;
  margin-bottom: 0;
}

.stars .important-star {
  color: black;
}

.stars .unimportant-star {
  color: #b0bec5;
}

.stars i {
  margin-right: .1em;
}



.airlines form label{
  color: black;
}

.date-field {
  position: relative;
}


div.row.results-container {
  height: 100%;
}

div.row.results-box {
  margin: auto auto;
}

div.results-container div.individual-result {
  width: 80%;
  margin: 4em auto;
}

div.individual-result div.collapsible-header {
  height: 4em;
}

div.individual-result div.collapsible-body {
  height: 6em;
}

div.collapsible-header{
  padding: 0;
}

ul.collapsible-header-row {
  width: 100%;
  height: 100%;
}

ul.collapsible-body-row {
  width: 100%;
  height: 100%;
}

li.col.s4{
  padding: 0;
  height: 100%;
}

li.row-f1.col.s4 > div {
  margin-right: auto;
  margin-left: 1em;
}

li.row-f2.col.s4 > div {
  margin: 0 auto;
}

li.row-f3.col.s4 > div {
  margin-left: auto;
  margin-right: 1em;
}

.collapsible-header i.arrow-right {
  font-size: 4em;
  margin-right: 2rem;
}

.collapsible-header-row li.row-f1 div > * {
  display: inline;
}

.collapsible-header-row li > div > .left-s {
  margin-right: .5em;
}

.collapsible-header-row li > div > .right-s {
  margin-left: .5em;
}
