body.roboto {
	background-color: #eeeeee;
	font-family: roboto;
}

.color1,.color1.page-footer {
  background-color: #263238;
}

.score_corner {
	text-align:center;
}
.global_score_wrapper.valign-wrapper.col{
	margin:auto auto 10px auto;
	height:80px;
	text-align:center;
	margin-top:10px;
}
.global_score {
	margin:0 auto;
	background-color:#88b131;
	font-size:32px;
	padding: 15px;
	color: rgb(235, 235, 235);
	font-weight:lighter;
	line-height: normal;
	width: 65px;
	height: 65px;
}
.review_count {
	margin:auto;
	text-align: center;
}
li.score_list_element.collection-item {
	overflow:hidden;
	padding:5px 10px 5px 10px;
}
li.score_list_element_header.collection-item {
	font-weight:bold;
	background-color: #f5f4f3;
	padding:5px 10px 5px 20px;
	overflow:hidden;
}
.score_list_element .col.star_group {
	padding-top:2px;
}
.progress.star_progress {
	margin: 10px;
}
.progress.star_progress {
	background-color: #d4d4d4;
}
.progress.star_progress.five_stars .determinate {
	background-color: #88b131;
}
.progress.star_progress.four_stars .determinate {
	background-color: #99cc00;
}
.progress.star_progress.three_stars .determinate {
	background-color: #ffcf02;
}
.progress.star_progress.two_stars .determinate {
	background-color: #ff9f02;
}
.progress.star_progress.one_star .determinate {
	background-color: #ff6f31;
}
.star_gray {
	color:#d4d4d4;
}

a.write_review_button.waves-effect.waves-light {
	margin:10px auto 10px auto;
  font-size:14px;
}

a.flight_number_link {
	font-size: 32px;
	color: black;
	font-weight: lighter;
}

.opinions_header {
	font-size: 32px;
	color: black;
	font-weight: lighter;
}
span.order_by_indication {
	font-size: 20px;
	color: black;
	font-weight: lighter;
}
a.order_by_button.dropdown-button {
	display:inline-block;
	background-color:#3ca7d9;
	color:white;
	font-size:20px;
	font-weight:normal;
	margin-bottom:5px;
}
li.collection-item.score_list_element .opinion_list_item {
	font-size:14px;
	color: #6b6b6b;
}
span.review_title {
  font-size: 20px;
  font-weight: bold;
}

.error_header {
  font-size: 20px;
  font-weight: bold;
}
a.info_breadcrumbs.breadcrumb {
	font-size: 32px;
	color: black;
	font-weight: lighter;
}
a.info_breadcrumbs.breadcrumb::before {
	font-size: 32px;
	color: #a9a9a9;
	font-weight: lighter;
}
a.link:hover{
	color: #167ac6;
}
a.back-link{
	color:#039be5;
	cursor:pointer;
}
a.back-link:hover{
	text-decoration: underline;
}

.pagination li.page_button.active{
	background-color: #26a69a;
}
.row.tools div.tool-element{
  margin: .5em 1em;
}

.row.tools div.tool-element label{
  color: black;
}

.select-wrapper input.select-dropdown {
  margin: 0 0;
}

.info_flight_descr {
	font-weight: lighter;
	font-size: 1rem;
}
/*ESTILOS DEL AUTOCOMPLETE*/
/*estilo css para typeahead*/

.typeahead {
    display: block;
}

.typeahead,
.tt-query,
.tt-hint {
    /*width: 396px;*/
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;

}



.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    overflow-y: auto;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    color: #26a69a;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    line-height: 24px;
    transition:background-color .3s;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #26a69a;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #26a69a;
}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

.miniText {
    font-size: 3px;
}
