nav {
  background-color: #0d47a1;
}

nav.tools {
  background-color: #9fa8da ;
}

.row {
  margin-bottom: 0;
}

.col.s3{
  padding-right: 0;
  background-color: #8c9eff ;
}

.col.s9{
  padding-right: 0;
  padding-left: 0;
}

.row.tools li{
  float: left;
}

.row.tools{
  background-color: #90a4ae  ;
}

.dropdown-button.btn {
  margin-right: 10px;
}

ul.dropdown-content li p{
  text-align: left;
  margin-left: 10px;
}

div.short_data {
  margin: 0 auto;
  height: 100%;
}

ul.dropdown-content li:hover{
  background-color: #80cbc4 ;
  transition: .3s;
}


footer.page-footer {
  background-color: #0d47a1;
  margin-top: 0;
  padding-top: 0;
}
