.color1,.color1.page-footer {
  background-color: #283593;
}

.color2{
  background-color: #b0bec5;
}

.row {
  margin-bottom: 0;
}

.col.s3{
  padding-right: 0;
  padding-left: 0;
}

.col.s9{
  padding-right: 0;
  padding-left: 0;
}

.row.tools li{
  float: left;
}

.dropdown-button.btn {
  margin-right: 10px;
}

ul.dropdown-content li p{
  text-align: left;
  margin-left: 10px;
}

ul.dropdown-content li:hover{
  background-color: #80cbc4 ;
  transition: .3s;
}


footer.page-footer {
  margin-top: 0;
  padding-top: 0;
}

.search-panel{
  background-color: white;
  border-radius: .25em;
  padding: 0 0 0 0;
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.search-panel div {
  display: block;
  width: 80%
}

.search-panel div input{
  display: block;
  margin: 1em auto 1em auto;
  padding: .3em 0 .3em 0;
}

div a.search{
  float: right;
  margin: 1em auto 1em auto;
}

.search-panel div label{
  display: block;
  margin: 1em auto 1em auto;
  padding: .3em auto .3em auto;
}

.search-panel div label.active{
  margin-top: 1em;
}


.row li{
  color:white;
  float:left;
}


.material-icons{
  color:white;
}

.datepicker{
  color:white;
}

.parallax-container{
  height:1000px;

}
.parallax.search-back{
  background-image: URL("https://static.pexels.com/photos/5055/sea-sky-beach-holiday.jpeg");
}

.parallax{
   background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.offers-back{
  background-color:#fffde7;
 }
.offer-img{
  height:255px;
  width: 255px;
  margin: 20px 16px 20px 16px;
}

.offer-img:hover{
  cursor:pointer;
}

 .col#search{
  margin-top: 75px;

}

.row.input .clickable:hover{
   color: black ;
  transition: .3s;
  cursor:pointer;
}

  /* label color */
   .input .input-field label {
     color: white;
   }

  
   /* label focus color */
   .input .input-field input[type=text]:focus + label {
     color: black;
   }
   /* label underline focus color */
   .input .input-field input[type=text]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
 
   /* icon prefix focus color */
   .input .input-field .prefix.active {
     color: black;
   }


 

